{% extends 'base.html' %}
{% from '_formhelper.html' import render_field, render_submit %}

{% block content %}
<div class="container">
<form action="{{ url_for('.signup') }}" class="form-signup form-horizontal" method="POST">
    {{ form.hidden_tag() }}
    {{ render_field(form.recommender) }}
    {{ render_field(form.username) }}
    {{ render_field(form.email) }}
    {{ render_field(form.password) }}
    {{ render_field(form.confirm) }}
    {{ render_submit('注册') }}
    <a href="{{ url_for('account.auth_weibo') }}">微博注册</a>
</form>
</div>
{% endblock %}
