{% extends "base.html" %}

{% block content %}
<div class="profile-fixed-container">
    <div class="profile-info">
        <div>
        <a href="{{ user['photo'] }}" class="profile-image-link" target="_blank">
            <img src="{{ user['photo'] }}" alt="profile image of {{ user['username'] }}" />
        </a>
        </div>
        <div class="profile-content">
            <h1>{{ user['username'] }}</h1>
            <p class="words">{{ user['words'] }}</p>
            <div class="pipe-wrapper">
                <ul class="pipe nobullet">
                    <li><a href="#"><strong>{{ user['listing_count'] }}</strong></br>宝贝</a></li>
                    <li><a href="{{ url_for('account.following', uid=user['id']) }}"><strong>{{ user['following_count'] }}</strong></br>粉丝</a></li>
                    <li><a href="{{ url_for('account.follower', uid=user['id']) }}"><strong>{{ user['followed_count'] }}</strong></br>关注</a></li>
                    {% if user['id'] == g.user['id'] %}
                    {% elif user['followed'] %}
                    <li><a id="followAction" href="{{ url_for('account.unfollow', uid=user['id']) }}">取消关注</a></li>
                    {% else %}
                    <li><a id="followAction" href="{{ url_for('account.follow', uid=user['id']) }}">加关注</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>

{% include "timeline/_timeline.html" %}
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/jquery.imagesloaded.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.wookmark.min.js') }}"></script>
{% include "timeline/_wookmark.js" %}
{% endblock %}
