{% extends "base.html" %}

{% block content %}
<div class="profile-fixed-container">
    <div class="profile-info">
        <div>
        <a href="{{ user['photo'] }}" class="profile-image-link" target="_blank">
            <img src="{{ user['photo'] }}" alt="profile image of {{ user['username'] }}" />
        </a>
        </div>
        <div class="profile-content">
            <h4>{{ user['username'] }}</h4>
            <div class="user-descrption">{{ user['about']|default('', true) }}</div>
            <div class="pipe-wrapper">
                <ul class="inline">
                    <li><a href="#"><strong>{{ user['listing_count'] }}</strong></br>宝贝</a></li>
                    <li><a href="{{ url_for('account.following', uid=user['id']) }}"><strong>{{ user['following_count'] }}</strong></br>粉丝</a></li>
                    <li><a href="{{ url_for('account.follower', uid=user['id']) }}"><strong>{{ user['followed_count'] }}</strong></br>关注</a></li>
                    {% if user['id'] == g.user['id'] %}
                    {% elif user['followed'] %}
                    <li><a id="followAction" href="{{ url_for('account.unfollow', uid=user['id']) }}">取消关注</a></li>
                    {% else %}
                    <li><a id="followAction" href="{{ url_for('account.follow', uid=user['id']) }}">加关注</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>

{% include "timeline/_timeline.html" %}
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/jquery.imagesloaded.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.wookmark.min.js') }}"></script>
{% include "timeline/_wookmark.js" %}
<script type="text/javascript">
$('#followAction').click(function(e){
    action_url = $(this).attr('href');
    $.ajax({
        type: "GET",
        url: action_url,
        data: null,
        success: function(data) {
            if (data.followed) {
                $(e.target).attr('href', '/unfollow/{{ user["id"] }}');
                $(e.target).html('取消关注');
            }else {
                $(e.target).attr('href', '/follow/{{ user["id"] }}');
                $(e.target).html('加关注');
            }
        }
    });
    return false;
});
</script>
{% endblock %}
