body {
    padding-top: 45px;
    background-color: #F9F8F3;
}

.navbar .nav > li > div {
    float: none;
    padding: 10px 15px 10px;
}

.dropdown > a {
    color: #999;
}
.dropdown > a:focus, .dropdown > a:hover {
    color: #fff;
    background-color: transparent;
    text-decoration: none;
}

#main {
    padding: 10px 0 30px 0;
}

#filters {
    list-style-type: none;
    text-align: center;
    height: 30px;
    background-color: #00aeef;
    margin: 0;
}

#filters li:hover {
    background-color: #fefefe;
}

#filters li.active {
    background-color: #333;
    color: #fff;
}

#tiles li.inactive {
    opacity: 0;
}

ol {
    display: block;
    list-style-type: decimal;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}

#filters li {
    font-size: 12px;
    float: left;
    padding: 6px 0 4px 0;
    cursor: pointer;
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    -o-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin: 0 1% 0 1%;
    width: 4%;
}

/**
 * Grid container
 */
#tiles {
    list-style-type: none;
    position: relative; /** Needed to ensure items are laid out relative to this container **/
    margin: 0;
}

/**
 * Grid items
 */
#tiles>li {
    width: 300px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    display: none; /** Hide items initially to avoid a flicker effect **/
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

a.timeline-photos {
    display: block;
}
.timeline-photos >img {
    width: 100%;
}

/**
 * listing property
 */
.covershot {
    width: 100%;
}
.listing-title {
    margin: 5px 5px 5px 10px;
}

.listing-title a:link, 
.listing-title a:hover {
    color: #00A48B;
}

.listing-title a:visited {
    color: #006455;
    text-decoration: none;
}

.nobullet {
    list-style: none;
    list-style-image: none;
    padding-left: 5px;
    color: #999;
}

.nobullet>li {
    float: left;
    margin: 0px 5px;
}

.new-comment-con,
.profile-con {
    background-color: #f2f0f0;
    padding: 5px;
    overflow: hidden;
    border-bottom: 1px solid #d9d4d4;
}

profile-image-con,
.profile-image-link {
    float: left;
}

.user-info, .comment-body, .listing-info {
    margin: 0px 0px 0px 55px;
    line-height: 1em;
}

.listing-actions-con {
    list-style: none;
    list-style-image: none;
    padding-left: 5px;
}
.liked {
    color: #eaeaea;
}

a.liked:hover {
    color: #eaeaea;
}

.main-con {
    width: 852px;
    margin: 0 auto;
}

.left-col {
    position: fixed;
    top: 60px;
    left: 50%;
    width: 222px;
    margin-left: -425px;
    background-color: #fff;
}

.right-col {
    float: right;
    width: 614px;
    margin-top: 20px;
}

.right-col .listing-wrapper {
    margin-top: 0;
    padding: 0;
}

.listing-wrapper {
    position: relative;
    margin: 76px auto 32px;
    padding: 0 18px 10px;
    background-color: white;
    box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
    -moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
    -webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
}

.listing-wrapper::after {
    clear: both;
    display: block;
    height: 0;
    content: " ";
    visibility: hidden;
}

.listing-title-con {
    padding: 20px 30px;
    border-bottom: 1px solid #D1CDCD;
    overflow: hidden;
}

.listing-action-con {
    padding: 20px 30px 10px;
    overflow: hidden;
}

.listing-action-con li{
    display: inline;
}

.listing-action-con li a {
    float: left;
    margin-right: 6px;
}

.listing-image-con {
    position: relative;
    margin: 20px 30px;
    background-color: #F2F0F0;
    overflow: hidden;
}

.listing-image-con img {
    display: block;
    max-width: 554px;
    width: 100%;
}

.listing-caption-con {
    padding: 0 30px 20px;
    font-size: 13px;
    line-height: 1.5em;
    word-wrap: break-word;
    border-bottom: 1px solid #D1CDCD;
}

.listing-addcomment-con,
#listing-comment-con {
    margin-bottom: 5px;
}

#listing-comment-con .comment {
    clear: both;
    padding: 5px 30px;
    overflow: hidden;
    border-bottom: 1px solid #D1CDCD;
}

#addcomment-con {
    clear: both;
    padding: 5px 30px;
    overflow: hidden;
    border-bottom: 1px solid #D1CDCD;
}
#comment-area {
    width: 100%;
}

.listing-board {
    position: relative;
    width: 222px !important;
    padding: 0 !important;
    background: #fff;
    margin-bottom: 20px;
    box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
    -moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
    -webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
}

.closet-listings {
    position: static;
    margin: 0 0 15px;
    float: left;
    width: 222px;
    background-color: white;
    box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
    -moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
    -webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
}

.profile-widget {
    padding: 5px;
}

.price-detail {
    padding: 5px;
    border-top: 1px solid #D1CDCD;
}
.price {
    float: left;
    margin-top: 7px;
}

.invite-fixed-container,
.publish-fixed-container,
.login-fixed-container,
.profile-fixed-container {
    width: 934px;
    margin: 10px auto;
}

.profile-info {
    height: 165px;
    width: 698px;
    position: relative;
    background: white;
    box-shadow: 0 1px 3px rgba(34, 25, 25, 0.5);
    -moz-box-shadow: 0 1px 3px rgba(34,25,25,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.5);
}

.profile-info .profile-image-link {
    height: 165px;
    float: left;
    max-width: 165px;
    overflow: hidden;
}

.profile-info .profile-image-link img {
    width: 165px;
}
.profile-image-link img {
    width: 50px;
}

.profile-content {
    margin: 0px 0px 0px 180px;
    padding-right: 15px;
}

.pipe-wrapper {
    border-top: 1px solid #D1CDCD;
    padding: 10px 0;
    display: block;
}

.original-price {
    text-decoration: line-through;
}

.current-price {
    color: green;
}

.user-widget {
    border: 1px solid #D1CDCD;
    word-wrap: break-word;
}

.top-con {
    position: relative;
    margin: 15px;
}

.followed-following-list{
    box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
    -moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
    -webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
    background-color: #fff;
}

.followed-following-list h4.title{
    border-top: 1px solid #D1CDCD;
    padding 10px;
}

.followed-following-list .item {
    border-top: 1px solid #DCDEE0;
    padding: 10px;
    position: relative;
    min-height: 50px;
}

.image-con {
    display: block;
    padding: 10px;
}
