{% extends "layout.html" %}

{% block content %}
<div class="main-con">
    <div class="left-col">
        <div class="listing-board">
            <h4>{{ request_item['title'] }}</h4>
            <ul class="nobullet">
                <li class="size"><a href="{{ url_for('.explore_category', filter=request_item['category']) }}?size={{ request_item['size'] }}">size:{{ request_item['size'] }}</a></li>
                <li class="category"><a href="{{ url_for('.explore_category', filter=request_item['category']) }}">category:{{ request_item['category'] }}</a></li>
            </ul>
            <div class="profile-widget clearfix">
                <a href="{{ url_for('.closet', uid=user['id']) }}" class="profile-image-link">
                    <img src="{{ user['photo'] }}" alt="profile image for {{ user['username'] }}" />
                </a>
                <div class="user-info">
                    <p class="no-image"><a href="{{ url_for('.closet', uid=user['id']) }}">{{ user['username'] }}</a></p>
                    <p>发布于<span class="timeago" title="{{ request_item['publish_time'] }}">{{ request_item['publish_time'] }}</span></p>
                </div>
            </div>
            <div class="price-detail clearfix">
                <div class="price">
                    <span class="current-price">RMB{{ request_item['current_price'] }}</span>
                    <span class="original-price">RMB{{ request_item['original_price'] }}</span>
                </div>
                <div class="buy-button pull-right btn">
                    <a href="{{ url_for('.buy', pid=request_item['postid']) }}">购买</a>
                </div>
            </div>
        </div>
        <div class="closet-listings">
            <div class="closet-widget">
                <h5>{{ user['username'] }}</h5>
                <div class="listings">
                    {% for t in timeline %}
                    <a href="{{ url_for('.item', pid=t['postid']) }}"><img class="listing-image-small" src="{{ t['photos'][0] }}" alt="" /></a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="right-col clearfix">
        <div class="listing-wrapper">
            <div class="listing-title-con">
                <a href="{{ url_for('.closet', uid=user['id']) }}" class="profile-image-link">
                    <img src="{{ user['photo'] }}" alt="" />
                </a>
                <div class="listing-info">
                    <h4>{{ request_item['title'] }}</h4>
                    <p>发布于<span class="timeago" title="{{ request_item['publish_time'] }}">{{ request_item['publish_time'] }}</span></p>
                </div>
            </div>
            <div class="listing-action-con">
                <ul data-postid="{{ request_item['postid'] }}">
                    {% if request_item['liked'] %}
                    <li><a class="like-action liked" href="{{ url_for('.unlike', pid=request_item['postid']) }}"><i class="icon-heart icon-white"></i></a></li>
                    {% else %}
                    <li><a class="like-action" href="{{ url_for('.like', pid=request_item['postid']) }}"><i class="icon-heart"></i></a></li>
                    {% endif %}
                    <li><a href="share"><i class="icon-share"></i></a></li>
                    <li><a href="{{ url_for('.addcomment') }}"><i class="icon-comment"></i></a></li>
                </ul>
            </div>
            <!-- .listing-action-con -->
            <div class="listing-image-con">
                {% for p in request_item['photos'] %}
                <a href="{{ p }}"><img src="{{ p }}" alt="" /></a>
                {% endfor %}
            </div>
            <!-- .listing-image-con -->
            <div class="listing-caption-con">
                <p class="description">{{ request_item['description'] }}</p>
            </div>
            <!-- .listing-caption-con -->
            <div id="listing-comment-con">
                {% for comment in comments %}
                <div class="comment">
                    <a href="{{ url_for('.closet', uid=comment['user']['id']) }}" class="profile-image-link">
                        <img src="{{ comment['user']['photo'] }}" alt="profile image for {{ comment['user']['username'] }}" />
                    </a>
                    <div class="comment-body">
                        <p>{{ comment['text'] }}</p>
                        <p><span class="timeago" title="{{ comment['publish_time'] }}">{{ comment['publish_time'] }}</span></p>
                    </div>
                </div>
                {% endfor %}
            </div>
            <!-- #listing-comment-con -->


            <div class="listing-addcomment-con">
                <div id="addcomment-con">
                    <a href="#" class="profile-image-link">
                        <img src="{{ g.user['photo'] }}" alt="Picuture of {{ g.user['username'] }}" class="CommenterImage" />
                    </a>
                    <div class="comment-body">
                        <form action="{{ url_for('.addcomment') }}" data-pid="{{ request_item['postid'] }}" id="InputContainer" method='POST'>
                            <textarea id="comment-area" name="comment" placeholder="添加评论..." ></textarea>
                            <p class="help-text">Type @ to recommend this to your friend(s).
                            <button class="pull-right">提交评论</button>
                            </p>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script_after_body %}
<script type="text/javascript">
var apiURL = '{{ request.base_url }}';
var since_id = {{ since_id }};
var isLoading = false;

function onScroll(event) {
    // Only check when we're not still waiting for data.
    if(!isLoading) {
        // Check if we're within 100 pixels of the bottom edge of the broser window.
        var closeToBottom = ($(window).scrollTop() + $(window).height() > $(document).height() - 100);
        if(closeToBottom) {
            loadComment();
        }
    }
};

function loadComment() {
    isLoading = true;
    $('#loaderCircle').show();

    $.ajax({
        url: apiURL,
        dataType: 'json',
        data: {since_id: since_id}, // Page parameter to make sure we load new data
        success: onLoadComment
    });
};

function onLoadComment(data) {
    isLoading = false;
    $('#loaderCircle').hide();

    since_id = data.since_id;
    {% raw %}
    var tmpl ='{{#comments}} <div class="comment"> <a href="/closet/{{user.id}}" class="profile-image-link"> <img src="{{user.photo}}" alt="profile image for {{user.username}}" /> </a> <div class="comment-body"> <p>{{text}}</p> <p><span class="timeago" title="{{publish_time}}">{{publish_time}}</span></p> </div> </div> {{/comments}}';
    {% endraw %}
    var html = Mustache.to_html(tmpl, data);
    $('listing-comment-con').append(html);
    $('span.timeago').timeago();
};

$(document).ready(new function() {
    $(document).bind('scroll', onScroll);
});
$('#InputContainer').submit(function(e){
    dataString = $(this).serialize();
    pid = $(this).data('pid');
    $.ajax({
        type: "POST",
        url: "/addcomment?pid="+pid,
        data: dataString,
        success: function(data){
            if (data) {
                comment = data.comment_context;
                html = "";
                html += '<div class="comment"><a href="{{ url_for('.closet', uid=g.user['id']) }}" class="profile-image-link"><img src="{{ g.user['photo'] }}" alt="profile image for {{ g.user['username'] }}" /></a><div class="comment-body"><p>' + comment['text'] + '</p><p><span class="timeago" title="' + comment["publish_time"] + '">' + comment["publish_time"] + '</span></p></div></div>'
                $('#listing-comment-con').append(html);
                $('#comment-area').val('');
                $('span.timeago').timeago();
            }
        }
    });
    return false;
});
$('.like-action').click(function(e){
    var $target = $(this)
    var action_url = $target.attr('href');
    var postid = $target.parent().parent().data('postid');
    $.ajax({
        type: "POST",
        url: action_url,
        data: null,
        success: function(data) {
            if (data.liked) {
                $target.attr('href', '/unlike/'+postid);
                $target.addClass('liked');
                $target.children('.icon-heart').addClass('icon-white');
            }else {
                $target.attr('href', '/like/'+postid);
                $target.removeClass('liked');
                $target.children('.icon-heart').removeClass('icon-white');
            }
        }
    });
    return false;
});
</script>
{% endblock %}
